.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16em;
}

.what-we-do-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    margin-bottom: 9em;
    color:var(--link-text-color);
    padding-inline: 2em;
}

.what-we-do-div h1,.what-we-do-div h2,.what-we-do-div.h3,.what-we-do-div h4{
    text-align: center;
    max-width: 80%;
}

.what-we-do-div h1{
    margin-bottom: 3em;
}

 










